
			<!-- start banner Area -->
			<section class="banner-area" id="home">
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-7">
							<h1>
								Are you ready to fly?
							</h1>
							<p class="pt-20 pb-20">
								Betaflight is flight controller software (firmware) used to fly multi-rotor craft and fixed wing craft.
								This fork differs from Baseflight and Cleanflight in that it focuses on flight performance, leading-edge feature additions, and wide target support.
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start latest-blog Area -->
			<section class="latest-blog-area section-gap" id="news">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Latest News</h1>
								<p>What has been happening in the world of betaflight?</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 single-blog">
							<img class="img-fluid" src="/content/images/FastestMCU.jpg" alt="">
							<a href="#"><h4>Release 4.0 available now!</h4></a>
							<p class="post-date">11th April, 2019</p>
<p>It took us a long time, but now it’s here, and it’s got so many new things!</p>
<p>When we released 3.5 in August last year, the number of different targets supported by Betaflight had reached 150,
	and maintaining them was becoming a major effort and taking up a lot of our time. It became clear that we had to do
	something. We had been working on changing the architecture of Betaflight to make it possible to use the same
	firmware for different flight controllers for some time, and so we decided to complete this change before releasing
	the next version, and that because of this fundamental change the next version would be 4.0.
	As we approached the originally set release date for Betaflight 4.0, we realised that we were not quite ready, and
	we decided to take another three months, in order to be able to complete the work we had started.
	So now, here we are, ‘Unified Targets’, as we called the new ‘one firmware for many flight controllers’ technology,
	is now a reality in Betaflight 4.0. There is still some work left to be done to add support for flashing Unified
	Targets with their configurations to Betaflight configurator, but once this is done, we will be able to allow
	manufacturers to make firmware for any number of boards, or RTF products, available directly in configurator.</p>
<p>As you have come to expect from Betaflight, we have picked up a number of new and exciting improvements to the flight
	performance, like ESC RPM based filtering, D term management with D_min, and throttle based dynamic gyro and D term
	filtering.
	And, again as expected we have added some more, non flight related new features like launch control, OSD profiles,
	and support for on-board SPI attached RX.
	For an extended list of new features see the release notes.</p>
<p>To get the best out of the flight performance improvements, please read these tuning tips.</p>
<p>If you are upgrading from an earlier version of Betaflight, please see the release notes for a list of things that
	you might have to change in your configuration.
	We have tried to make this release as bug free as possible. If you still find a bug, please report it back to us by
	opening an issue here.
	Betaflight also has a presence in the Slack messaging platform. Register here, and then come join us in Slack. Most
	developers hang out there, so this is a great place to talk about the things you are tinkering with in Betaflight,
	or get help with really complicated configuration problems.</p>
<p><em>Kia kaha</em> (stay strong)</p>

						</div>
						<div class="col-lg-6 single-blog">
							<img class="img-fluid" src="/content/images/cf-bf-test.jpg" alt="">
							<a href="#"><h4>Important: Embargo on new targets for Betaflight 4.0!</h4></a>
							<p class="post-date">30th December, 2018</p>
							<p>
								As announced earlier, Betaflight 4.0 will introduce a radically new way to define targets. At the moment, we are making the changes necessary for this, and this requires some changes to how targets are defined in the 'legacy' way. Because of this, any pull request opened against `master` that introduces a new target is likely to be outdated by the time it has been reviewed. This means extra work for the target maintainer and the reviewers, for little or no benefit.
							</p>
							<p>
								Because of this, the following embargo is put in place:
							</p>
							<ol class="ordered-list">
								<li>
									<span>From 30/12/2018 on until the release of Betaflight 4.0 (scheduled for 01/04/2019), no pull requests that introduce new targets against `master` are accepted. Because any such pull requests will be outdated by the time 4.0 is released, they will be closed;</span>
								</li>
								<li>
									<span>During the time that 1. is in place, pull requests adding new targets (in 3.5 format) against the `3.5.x-maintenance` branch will be considered. This is an exception to the rule that all pull requests must be opened against `master`. This exception only applies to pull requests containing no other changes than a new target and a documentation page for the new target. These new targets will be included in upcoming 3.5 maintenance releases;</span>
								</li>
								<li>
									<span>Targets added under the exception in 2. will have to be ported into 4.0 before 4.0 is released. The format that these targets will have in 4.0 is yet to be determined, and instructions for porting the targets will have to be written, but we expect the maintainers of these targets to make themselves available to assist with this task when the time comes. Please follow the news and updates that are posted here or to the <a href="https://github.com/betaflight/betaflight" target="_blank">Betaflight GitHub page</a> to keep track of when action is required.</span>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
			<!-- End latest-blog Area -->

			<!-- Start we-offer Area -->
			<section class="we-offer-area section-gap" id="about">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">About</h1>
								<p>So what is betaflight?</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="single-offer d-flex flex-row pb-30">
								<div class="icon">
									<img src="img/small_logo.png" alt="">
								</div>
								<div class="desc">
									<a href="#"><h4>Supports your Hardware</h4></a>
									<p>
Betaflight supports nearly all flight controllers on the market having at least an STM32F3 Processor.
The Betaflight Configurator runs on Windows, Mac OS and Linux.
									</p>
									<p>
The Betaflight Firmware supports all major Remote Control manufacturers like FrSky, Graupner and FlySky. ESCs are directed using PWM, OneShot, MultiShot, DShot or even ProShot.
									</p>
									<p>
Not even less-related components stay untouched, so Betaflight allows to control VTX and Camera settings directly through the flight controller.
									</p>
								</div>
							</div>
							<div class="single-offer d-flex flex-row pb-30">
								<div class="icon">
									<img src="img/small_logo.png" alt="">
								</div>
								<div class="desc">
									<a href="#"><h4>Community Support</h4></a>
									<p>
										There is so much support out there for betaflight users. Don't know where to look? We have compiled a list of our favourite resources.
									</p>
								</div>
							</div>
							<div class="single-offer d-flex flex-row pb-30">
								<div class="icon">
									<img src="img/small_logo.png" alt="">
								</div>
								<div class="desc">
									<a href="#"><h4>Open Source</h4></a>
									<p>
										Originating from baseflight and cleanflight, betaflight continues to live the idea of open source. Everybody having precious ideas is welcome to implement them for the main product.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="single-offer d-flex flex-row pb-30">
								<div class="icon">
									<img src="img/small_logo.png" alt="">
								</div>
								<div class="desc">
									<a href="#"><h4>OSD</h4></a>
									<p>
										With the Betaflight OSD you get all relevant values during flight directly into your FPV video feed. An easy to use drag-and-drop configuration allows to place values like used mAh and LiPo Voltage readings.
									</p><p>
Additionally you can change most firmware settings using stick commands wihtout even removing the goggles from your face.
									</p>
								</div>
							</div>
							<div class="single-offer d-flex flex-row pb-30">
								<div class="icon">
									<img src="img/small_logo.png" alt="">
								</div>
								<div class="desc">
									<a href="#"><h4>Safety Features</h4></a>
									<p>
										Mini-drones are dangerous toys. As incidents with suddenly spinning props often end bloody, Betaflight implements several safety features to prevent dangerous behavior.
									</p><p>
Features are implemented as preventing arming when the drone isn’t leveled and switchig off drones in case of wrong motor or flight controller orientation.
									</p>
								</div>
							</div>
							<div class="single-offer d-flex flex-row pb-30">
								<div class="icon">
									<img src="img/small_logo.png" alt="">
								</div>
								<div class="desc">
									<a href="#"><h4>Flight Dynamics</h4></a>
									<p>
										Betaflight not only strives to put the best flight code on your controller. Also it satisfies requirements as perfect performance, tiny footprint, newest features and a strong quality assurance process.
									</p><p>
										All flight related data can be logged into a blackbox for later analysis. So pilots and techniciants can base finest tunings on objective data.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End we-offer Area -->


			<!-- Start home-video Area -->
			<section class="home-video-area" id="about">
				<div class="container-fluid">
					<div class="row justify-content-end align-items-center">
						<div class="col-lg-4 no-padding video-right">
							<p class="top-title">Tutorial for beginners</p>
							<h1>Watch a tutorial <br>
							video on how to get started</h1>
							<p><span></span></p>
							<p>
								Don't know where to start, this video is for you. The basics all wrapped up into an easy to watch tutorial.
							</p>
						</div>
						<section class="video-area col-lg-6">
							<div class="overlay overlay-bg"></div>
							<div class="container">
								<div class="video-content">
									<a href="http://www.youtube.com/watch?v=xmaTq4JgTXI" class="play-btn"><img src="img/play-btn.png" alt=""></a>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>
			<!-- End home-aboutus Area -->


			<!-- Start home-aboutus Area -->
			<!--
			<section class="home-aboutus-area">
				<div class="container-fluid">
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-8 no-padding about-left">
							<img class="img-fluid" src="img/about-bg.jpg" alt="">
						</div>
						<div class="col-lg-4 no-padding about-right">
							<p class="top-title">Fightcontroller firmware</p>
							<h1 class="text-white">Awesome firmware<br>
							System for the Software</h1>
							<p><span>About betaflight.com</span></p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim.
							</p>
						</div>
					</div>
				</div>
			</section>
			-->
			<!-- End home-aboutus Area -->

			<!-- Start contributors Area -->
			<section class="testomial-area section-gap">
				<div class="container" id="members">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Members & Contributors</h1>
								<p>Here are the main members of the team and the consistent contributors to the betaflight project</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="active-tstimonial-carusel members_carousel" id="members_carousel">
							<% site.members.forEach(function(member) { %>
							<div class="single-testimonial item">
								<img class="mx-auto avatar" src="<%= member.avatar_url %>" alt="">
								<h4><%= member.login %></h4>
								<p><%= member.status %></p>
							</div>
							<% }) %>
						</div>
					</div>
				</div>
			</section>
			<!-- End testomial Area -->

			<!-- Start callto-action Area -->
			<section class="callto-action-area relative section-gap">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content col-lg-9">
							<div class="title text-center">
								<h1 class="mb-10 text-white">Want to join in on Slack?</h1>
								<p class="text-white">Slack is our tool of choice for instant messaging amongst the team. Join now and be a party to the conversations that flow freely.</p>
								<a class="primary-btn" href="https://slack.betaflight.com" target="_blank">Join now</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End calto-action Area -->

			<!-- Start donate Area -->
			<section class="price-area section-gap" id="price">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Want to help out by donating?</h1>
								<p>Many of our users don't have the time to contribute but do love our software such that they want to continue to support us. The best way is to help out by donating.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<div class="single-price">
								<div class="top-sec d-flex justify-content-between">
									<div class="top-left">
										<h4>Paypal</h4>
										<p></p>
									</div>
									<div class="top-right">
										<h1>$</h1>
									</div>
								</div>
								<div class="bottom-sec">
									<p>
										For a once off donation to the cause with no ongoing commitment.
									</p>
								</div>
								<div class="end-sec text-center">
									<button class="primary-btn price-btn mt-20" onclick="window.open('https://paypal.me/betaflight')">Donate now</button>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-price">
								<div class="top-sec d-flex justify-content-between">
									<div class="top-left">
										<h4>Patreon</h4>
										<p></p>
									</div>
									<div class="top-right">
										<h1>$$</h1>
									</div>
								</div>
								<div class="bottom-sec">
									<p>
										To setup a monthly recurring donation for ongoing support and commitment.
									</p>
								</div>
								<div class="end-sec text-center">
									<button class="primary-btn price-btn mt-20" onclick="window.open('https://patreon.com/betaflight')">Setup now</button>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
								<div class="single-price">
									<div class="top-sec d-flex justify-content-between">
										<div class="top-left">
											<h4>Development</h4>
											<p></p>
										</div>
										<div class="top-right">
											<h1>{code}</h1>
										</div>
									</div>
									<div class="bottom-sec">
										<p>
											To help out with development, checkout our github project.
										</p>
									</div>
									<div class="end-sec text-center">
										<button class="primary-btn price-btn mt-20" onclick="window.open('https://github.com/betaflight')">Code now</button>
									</div>
								</div>
							</div>
					</div>
				</div>
			</section>
			<!-- End price Area -->

			<!-- Start testomial Area -->
			<section class="testomial-area section-gap" id="pilots">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Featured pilots</h1>
								<p>Want to get featured here? Drop us a line on the team betaflight Slack.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="active-tstimonial-carusel testimonial_carousel" id="pilots_carousel">
						<% site.pilots.forEach(function(pilot) { %>
							<div class="single-testimonial item">
								<img class="mx-auto pilot-image" src="<%= pilot.image %>" alt="">
								<p class="desc"><%= pilot.description %></p>
								<h4><a v-bind:href="pilot.link" target="_blank"><%= pilot.name %></a></h4>
								<p><%= pilot.title %></p>
							</div>
						<% }) %>
						</div>
					</div>
				</div>
			</section>
			<!-- End testomial Area -->
