---
title: Home
description: "Betaflight is flight controller software (firmware) used to fly multi-rotor craft and fixed wing craft."

---

			<!-- start banner Area -->
			<section class="banner-area" id="home">
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-7">
							<h1>
								Are you ready to fly?
							</h1>
							<p class="pt-20 pb-20 lead">
								Betaflight is flight controller software (firmware) used to fly multi-rotor craft and fixed wing craft.
								This fork differs from Baseflight and Cleanflight in that it focuses on flight performance, leading-edge feature additions, and wide target support.
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start latest-blog Area -->
			<section class="latest-blog-area section-gap" id="news">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Latest News</h1>
								<p class="lead">What has been happening in the world of betaflight?</p>
							</div>
						</div>
					</div>
					<div class="row">
<%
						site.news.slice(0, 2).forEach(function(article) {
%>
					<div class="col-lg-6">
						<div class="card h-100">
							<img src="<%= article.image || '/content/images/default.jpg' %>" class="card-img-top" alt="...">
							<div class="card-body">
								<a href="<%= article.link %>"><h4 class="card-title"><%= article.title %></h4></a>
								<p class="card-text text-muted"><%= site.moment(article.date).format("DD MMM") %></p>
								<p class="card-text"><%= article.description %></p>
								<a class="card-link" href="<%= article.link %>">Read more</a>
							</div>
						</div>
					</div>
<% }); %>
					</div>
				</div>
			</section>
			<!-- End latest-blog Area -->

			<!-- Start we-offer Area -->
			<section class="we-offer-area section-gap" id="about">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">About</h1>
								<p class="lead">So what is betaflight?</p>
							</div>
						</div>
					</div>
					<div class="accordion" id="accordionAbout">
						<div class="row">
							<div class="col-lg-6 mb-3">
								<div class="card">
									<div class="card-header d-flex" id="headingOne">
										<i class="fa fa-microchip fa-3x fa-fw"></i>
										<h4 class="mb-0 ml-2">
											<button class="btn btn-link p-0 h-100 text-left collapsed" type="button" data-toggle="collapse"
												data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
												Supports a wide variety of Hardware
											</button>
										</h4>
									</div>
									<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionAbout">
										<div class="card-body">
											<p>Betaflight supports a wide range of flight controllers that have at least an STM32F4 Processor. The Betaflight Configurator runs on Windows, Mac OS, Linux, and Android.</p>
											<p>The Betaflight Firmware supports the majority of Remote Control manufacturers such as FrSky, Graupner, Spektrum, DJI and FlySky. ESCs are controlled using a variety of available protocols including PWM, OneShot, MultiShot, DShot or even ProShot.</p>
											<p>Even the less-related components do not remain untouched, with Betaflight allowing the control of many VTX and Camera settings directly from the flight controller.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 mb-3">
								<div class="card">
									<div class="card-header d-flex" id="headingTwo">
										<i class="fa fa-users fa-3x fa-fw"></i>
										<h4 class="mb-0 ml-2">
											<button class="btn btn-link p-0 h-100 text-left collapsed" type="button" data-toggle="collapse"
												data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
												Community Support
											</button>
										</h4>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionAbout">
										<div class="card-body">
											<p>There is so much support out there for betaflight users. Don't know where to look? We have compiled a list of our favourite resources.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 mb-3">
								<div class="card">
									<div class="card-header d-flex" id="headingThree">
										<i class="fa fa-code-branch fa-3x fa-fw"></i>
										<h4 class="mb-0 ml-2">
											<button class="btn btn-link p-0 h-100 text-left collapsed" type="button" data-toggle="collapse"
												data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												Open Source
											</button>
										</h4>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionAbout">
										<div class="card-body">
											<p>Originating from baseflight and cleanflight, Betaflight continues to live and breath the value of open source. Everybody is welcome to implement their amazing ideas within Betaflight, either directly (preferred) or through a fork.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 mb-3">
								<div class="card">
									<div class="card-header d-flex" id="headingFour">
										<i class="fa fa-camera-retro fa-3x fa-fw"></i>
										<h4 class="mb-0 ml-2">
											<button class="btn btn-link p-0 h-100 text-left collapsed" type="button" data-toggle="collapse"
												data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
												OSD
											</button>
										</h4>
									</div>
									<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionAbout">
										<div class="card-body">
											<p>With the Betaflight OSD you can get all relevant flight metrics directly into your FPV video feed. An easy to use drag-and-drop configuration allows the placement of values like used mAh and LiPo Voltage readings.</p>
											<p>Additionally you can change most firmware settings using stick commands wihtout even removing your goggles.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 mb-3">
								<div class="card">
									<div class="card-header d-flex" id="headingFive">
										<i class="fa fa-hard-hat fa-3x fa-fw"></i>
										<h4 class="mb-0 ml-2">
											<button class="btn btn-link p-0 h-100 text-left collapsed" type="button" data-toggle="collapse"
												data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
												Safety Features
											</button>
										</h4>
									</div>
									<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionAbout">
										<div class="card-body">
											<p>Drones are extremely dangerous toys. As incidents with suddenly spinning props often end with serious injury Betaflight implements several safety features to prevent dangerous situations occurring.</p>
											<p>Features are implemented to prevent arming when the drone isn’t leveled, including disabling motors in case of wrong motor or incorrect flight controller orientation.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 mb-3">
								<div class="card">
									<div class="card-header d-flex" id="headingSix">
										<i class="fa fa-fighter-jet fa-3x fa-fw"></i>
										<h4 class="mb-0 ml-2">
											<button class="btn btn-link p-0 h-100 text-left collapsed" type="button" data-toggle="collapse"
												data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
												Flight Dynamics
											</button>
										</h4>
									</div>
									<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionAbout">
										<div class="card-body">
											<p>Betaflight not only strives to put the best flight code on your controller, it also looks to satisfy such requirements as perfect performance, tiny footprint, full feature set and a strong quality assurance process.</p>
											<p>To assist in this endeavour all flight related data can be logged into a blackbox for later analysis. So pilots and technicians can objectively base their tune on the most appropriate data.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End we-offer Area -->


			<!-- Start home-video Area -->
			<section class="home-video-area" id="tutorial">
				<div class="container-fluid">
					<div class="row justify-content-end align-items-center">
						<div class="col-lg-4 no-padding video-right">
							<p class="top-title">Tutorial for beginners</p>
							<h1>Watch a tutorial <br>
							video on how to get started</h1>
							<p><span></span></p>
							<p class="lead">Don't know where to start, this video is for you. The basics all wrapped up into an easy to watch tutorial.</p>
						</div>
						<section class="video-area col-lg-6">
							<div class="overlay overlay-bg"></div>
							<div class="container">
								<div class="video-content">
									<a href="http://www.youtube.com/watch?v=xmaTq4JgTXI" class="play-btn"><img src="img/play-btn.png" alt=""></a>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>
			<!-- End home-aboutus Area -->


			<!-- Start home-aboutus Area -->

			<section class="home-aboutus-area section-gap" id="getting_started">
				<div class="container">
						<div class="row d-flex justify-content-center">
								<div class="menu-content pb-60 col-lg-10">
									<div class="title text-center">
										<h1 class="mb-10 text-white">Getting started</h1>
										<p class="lead">So what do you need to know?</p>
									</div>
								</div>
							</div>
							<div class="row">
							<div class="col-lg-6">
									<div class="single-offer d-flex flex-row pb-30">
										<div class="icon">
											<i class="fa fa-upload fa-3x"></i>
										</div>
										<div class="desc">
											<h4 class="text-white">Installation & Documentation</h4>
											<p>
		<a href="https://github.com/betaflight/betaflight/wiki">See the betaflight wiki</a>
											</p>
										</div>
									</div>
									<div class="single-offer d-flex flex-row pb-30">
											<div class="icon">
												<i class="fa fa-cogs fa-2x"></i>
											</div>
											<div class="desc">
												<h4 class="text-white">Configuration Tool</h4>
												<p>
														To configure Betaflight you should use the Betaflight-configurator GUI tool (Windows/OSX/Linux) which can be found here:
												</p><p>
														<a href="https://github.com/betaflight/betaflight-configurator/releases/latest">Latest configurator releases</a>
												</p>
											</div>
										</div>		
										<div class="single-offer d-flex flex-row pb-30">
											<div class="icon">
												<i class="fa fa-chart-area fa-2x"></i>
											</div>
											<div class="desc">
												<h4 class="text-white">BlackBox Viewer</h4>
												<p>
													Viewer Releases are here:
												</p><p>
														<a href="https://github.com/betaflight/blackbox-log-viewer/releases">Latest viewer releases</a>
												</p><p>
														The Latest Viewer source is here:
												</p><p>
														<a href="https://github.com/betaflight/blackbox-log-viewer">Latest viewer source</a>
												</p><p>
														See BB Logging and Usage Wiki page on using the BB logger.
												</p>
											</div>
										</div>
								</div>
							<div class="col-lg-6">
									<div class="single-offer d-flex flex-row pb-30">
										<div class="icon">
											<i class="fa fa-folder fa-3x"></i>
										</div>
										<div class="desc">
											<h4 class="text-white">Betaflight Releases</h4>
											<p>
													Releases can be found by following the link below or downloaded from within the firmware section within the Betaflight Configurator. Also check the Upgrading List to the Right for Release Notes and other Details on the various Versions.
											</p>
											<p>
												<a href="https://github.com/betaflight/betaflight/releases">Releases</a>
											</p>
										</div>
									</div>
									<div class="single-offer d-flex flex-row pb-30">
										<div class="icon">
											<i class="fa fa-exclamation-circle fa-3x"></i>
										</div>
										<div class="desc">
											<h4 class="text-white">BETA TESTING (WARNING)</h4>
											<p>If you want to contribute to better development you can download the latest beta build directly from:</p>
											<p><a href="https://ci.betaflight.tech/job/Betaflight/lastBuild/artifact/obj/">Nightly builds</a></p>
											<p><a href="https://github.com/betaflight/betaflight-configurator-nightlies/releases">Betaflight Configurator Nightly builds</a></p>
											<p><a href="https://github.com/betaflight/blackbox-log-viewer-nightlies/releases">Blackbox Viewer Nightly builds</a></p>
											<p>
													You can find release planning here:
											</p>
											<p>
												<a href="https://github.com/betaflight/betaflight/milestones">Release planning</a>
											</p>
										</div>
									</div>
		</div></div></div>
				</div>
			</section>

			<!-- End home-aboutus Area -->

			<!-- Start contributors Area -->
			<section class="testomial-area section-gap">
				<div class="container" id="members">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Members &amp; Contributors</h1>
								<p class="lead">Here are the main members of the team and the consistent contributors to the betaflight project</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="active-tstimonial-carusel members_carousel" id="members_carousel">
							<% site.members.forEach(function(member) { %>
							<div class="single-testimonial item">
								<img class="mx-auto avatar" src="<%= member.avatar_url %>" alt="">
								<h4><%= member.login %></h4>
								<p>
									<%= member.name %> <br />
									<%= member.location %> <br />
									&nbsp;<%= member.blog %>&nbsp;
								</p>
							</div>
							<% }) %>
						</div>
					</div>
				</div>
			</section>
			<!-- End testomial Area -->

			<!-- Start callto-action Area -->
			<section class="callto-action-area relative section-gap">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content col-lg-9">
							<div class="title text-center">
								<h1 class="mb-10 text-white">Want to chat with the team on Discord?</h1>
								<p class="text-white lead">Discord is our tool of choice for instant messaging amongst the development and testing team. Join now and be a party to the conversations that flow freely.</p>
								<a class="primary-btn" href="https://discord.gg/YXcUpdf3" target="_blank">Join now</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End calto-action Area -->

			<!-- Start donate Area -->
			<section class="price-area section-gap" id="donate">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Want to help out by donating?</h1>
								<p class="lead">Many of our users don't have the time to contribute but do love our software such that they want to continue to support us. The best way is to help out by donating.</p>
								<p>
									<b>What are donations used for?</b> We use the donations to help with the maintainers out of pocket costs, e.g. running build servers etc.
									We also use it to purchase test equipment, e.g. Saleae logic analysers, and other items to assist consistent contributors in their efforts.
									We are exceptionally grateful for those who do donate, either their time or funds.
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<div class="single-price">
								<div class="top-sec d-flex justify-content-between">
									<div class="top-left">
										<h4>Paypal</h4>
										<p></p>
									</div>
									<div class="top-right">
										<h1>$</h1>
									</div>
								</div>
								<div class="bottom-sec">
									<p>
										For a once off donation to the cause with no ongoing commitment.
									</p>
								</div>
								<div class="end-sec text-center">
									<button class="primary-btn price-btn mt-20" onclick="window.open('https://paypal.me/betaflight')">Donate now</button>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-price">
								<div class="top-sec d-flex justify-content-between">
									<div class="top-left">
										<h4>Patreon</h4>
										<p></p>
									</div>
									<div class="top-right">
										<h1>$$</h1>
									</div>
								</div>
								<div class="bottom-sec">
									<p>
										To setup a monthly recurring donation for ongoing support and commitment.
									</p>
								</div>
								<div class="end-sec text-center">
									<button class="primary-btn price-btn mt-20" onclick="window.open('https://patreon.com/betaflight')">Setup now</button>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
								<div class="single-price">
									<div class="top-sec d-flex justify-content-between">
										<div class="top-left">
											<h4>Development</h4>
											<p></p>
										</div>
										<div class="top-right">
											<h1>{code}</h1>
										</div>
									</div>
									<div class="bottom-sec">
										<p>
											To help out with development, checkout our github project.
										</p>
									</div>
									<div class="end-sec text-center">
										<button class="primary-btn price-btn mt-20" onclick="window.open('https://github.com/betaflight')">Code now</button>
									</div>
								</div>
							</div>
					</div>
				</div>
			</section>
			<!-- End price Area -->

			<!-- Start Pilot Area -->
<!--
			<section class="testomial-area section-gap" id="pilots">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Featured pilots</h1>
								<p>Want to get featured here? Drop us a line on the team betaflight Slack.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="active-tstimonial-carusel testimonial_carousel" id="pilots_carousel">
						<% site.pilots.forEach(function(pilot) { %>
							<div class="single-testimonial item">
								<img class="mx-auto pilot-image" src="<%= pilot.image %>" alt="">
								<p class="desc"><%= pilot.description %></p>
								<h4><a v-bind:href="pilot.link" target="_blank"><%= pilot.name %></a></h4>
								<p><%= pilot.title %></p>
							</div>
						<% }) %>
						</div>
					</div>
				</div>
			</section>
-->
			<!-- End Pilot Area -->
