---
layout: default
title: News 
image: 

---

<section class="latest-blog-area section-gap" id="news">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Latest News</h1>
          <p>What has been happening in the world of betaflight?</p>
        </div>
      </div>
    </div>
<%
      site.news.forEach(function(article) {
%>
<div class="row">
  <div class="col-lg-4">
    <img class="img-fluid" src="<%= article.image %>" alt="">
  </div>
  <div class="col-lg-8">
    <a href="<%= article.link %>"><h4><%= article.title %></h4></a>
        <p class="post-date"><%= site.moment(article.date).format("DD MMM") %></p>
        <p><span class="entry-excerpt"><p><%= article.description %></p></span>
        <span class="readmore"><a class="hvr-underline-from-center" href="<%= article.link %>">Read More</a></span></p>
      </div>
    </div>
    <% }); %>
  </div>
</section>