<!DOCTYPE html>
<html lang="zxx" class="no-js">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="/img/logo_fb.png">
		<meta name="author" content="betaflight">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta charset="UTF-8">
		<meta property="og:image" content="https://betaflight.com/img/logo_fb.png">
		<meta property="og:description" content="<%= page.description %>">
		<meta property="og:title" content="betaflight.com - <%= page.title %>">
		<meta property="og:url" content="https://betaflight.com/">
		<meta property="og:type" content="website">

		<title>betaflight.com - <%= page.title %></title>
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
		<link rel="stylesheet" href="/css/linearicons.css">
		<link rel="stylesheet" href="/css/fontawesome.css">
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/magnific-popup.css">
		<link rel="stylesheet" href="/css/nice-select.css">					
		<link rel="stylesheet" href="/css/animate.min.css">
		<link rel="stylesheet" href="/css/owl.carousel.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/custom.css">
	</head>
	<body>

			<header id="home">
					<div class="container">
						<div class="row align-items-center justify-content-between d-flex">
						  <div id="logo">
							<a href="/"><img src="/img/logo.svg" alt="" title="" /></a>
						  </div>
						  <nav id="nav-menu-container">
							<ul class="nav-menu">
							  <li class="menu-active"><a href="/">Home</a></li>
							  <li><a href="/#tutorial">Beginners Tutorial</a></li>
							  <li><a href="/#getting_started">Get Betaflight</a></li>
							  <li><a href="/news">News</a></li>
							  <li><a href="/#about">About</a></li>
							  <li><a href="/#members">Members</a></li>
							  <li><a href="/#donate">Donate</a></li>
	<!-- 				          <li><a href="#blog">Blog</a></li> -->
	<!--						  <li><a href="/#pilots">Pilots</a></li> -->
	<!--
							  <li class="menu-has-children"><a href="">Pages</a>
								<ul>
								  <li><a href="generic.html">Generic</a></li>
								  <li><a href="elements.html">Elements</a></li>
								</ul>
							  </li>
	-->
							</ul>
						  </nav><!-- #nav-menu-container -->		    		
						</div>
					</div>
				  </header>
				  <!-- #header -->


					<section class="latest-blog-area section-gap" id="news">
						<div class="container">
								<div class="row d-flex justify-content-center">
										<div class="menu-content pb-60 col-lg-8">
											<div class="title text-center">
												<h1 class="mb-10"><%= page.title %></h1>
											</div>
										</div>
									</div>
									<div class="row">
										<% if (page.image) { %>
											<div class="col-lg-4">
													<img class="img-fluid" src="<%= page.image %>" alt="">
											</div>

											<div class="col-lg-8">
										<%- body %>
									</div>
									<% } else { %>
										<div class="col-lg-10">
												<%- body %>
											</div>
											<% } %>
										</div>
						</div>
					</section>
					
			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row footer-bottom d-flex justify-content-between">
						<p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
							Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved Team Betaflight <br />
							Template based on <a href="https://colorlib.com" target="_blank">Colorlib</a>
						</p>
						<div class="col-lg-4 col-sm-12 footer-social">
							<a href="https://www.facebook.com/groups/betaflightgroup/" target="_blank"><i class="fab fa-facebook"></i></a>
							<a href="https://twitter.com/teambetaflight" target="_blank"><i class="fab fa-twitter"></i></a>
							<a href="https://www.instagram.com/teambetaflight/" target="_blank"><i class="fab fa-instagram"></i></a>
							<a href="https://github.com/betaflight"><i class="fab fa-github"></i></a>
						</div>
					</div>
				</div>
			</footer>
			<!-- End footer Area -->	

			<script src="/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="/js/vendor/bootstrap.min.js"></script>			
 			<script src="/js/easing.min.js"></script>			
			<script src="/js/hoverIntent.js"></script>
			<script src="/js/superfish.min.js"></script>	
			<script src="/js/jquery.ajaxchimp.min.js"></script>
			<script src="/js/jquery.magnific-popup.min.js"></script>	
			<script src="/js/owl.carousel.min.js"></script>			
			<script src="/js/jquery.sticky.js"></script>
			<script src="/js/jquery.nice-select.min.js"></script>			
			<script src="/js/parallax.min.js"></script>		
			<script src="/js/mail-script.js"></script>
			<script src="/js/axios.js"></script>
			<script src="/js/main.js"></script>	
		</body>
	</html>



